* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 247);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container form {
  display: flex;
  flex-direction: column;
  width: 28rem;
  max-width: 90%;
}

.main-container form h2 {
  font-size: 2.2rem;
  margin: 0.5rem 0;
}

label {
  margin-top: 0.7rem;
}

input {
  padding: 0.6rem 0.4rem;
  margin: 0.5rem 0;
  color: rgb(30, 30, 30);
  border: 1.5px solid rgb(104, 104, 104);
  border-radius: 0.2rem;
}

input:focus {
  color: rgb(30, 30, 30);
  border: 1.5px solid rgb(104, 104, 104);
}

button {
  cursor: pointer;
  margin: 1rem 0;
  padding: 0.8rem 2rem;
  color: rgb(249, 249, 249);
  background-color: rgb(30, 30, 30);
  border: 1.5px solid rgb(30, 30, 30);
  border-radius: 0.5rem;
  transition: background-color 0.4s ease;
}

button:hover {
  color: rgb(30, 30, 30);
  background-color: rgb(249, 249, 249);
}

.main-container a {
  font-size: 0.9rem;
  color: rgb(30, 30, 30);
  margin-top: 0.2rem;
  max-width: fit-content;
  text-decoration: underline solid transparent;
  transition: text-decoration-color 0.2s ease;
}

.main-container a:hover {
  text-decoration-color: currentColor;
}
