# Security (Secrets)
.env

# Dependencies (Huge folders)
node_modules/

# OS specific files
.DS_Store
Thumbs.db

# Logs and Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log

# Environment/Build folders 
dist/
build/
.vscode/
.vercel
.env*.local
